.app {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  overflow-x: hidden; 
  box-sizing: border-box;
}

.home-page {
  margin-top: 10px; 
  padding: 0; /* Remove padding to prevent overflow */
  display: flex;
  width: 100%;
  overflow-x: none;
   /* Prevent horizontal overflow */
}
